.application-form {
    border : 0px solid #949494!important;
    
}
.already-registered, .server-error{
    min-height: calc(100vh - 300px);
}


.upload-button {
    border: 1px solid;
    padding: 8px;
    margin-top: 9px;
}