.cv {
    .created-date {
        text-align: right;
    }


    .borders {
        div {
            border: 1px solid;
            padding: 5px;
        }
    }

    .rounded {
        border: 1px solid;
        border-radius: 40px;
        padding: 2px;
    
    }
}