<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">View Candidates</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-1 d-sm-flex align-items-center  justify-content-between">
                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Search</mat-label>
                        <input matInput [(ngModel)]="searchText" class="w-100" placeholder="Search" />
                      </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button (click)="resetFilter()">reset</button>
                    <button mat-raised-button (click)="onClickOpenfilterCandidatesDialog()">Filter</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Current Country</th>
                                <th>Nationality</th>
                                <th>JLPT / NAT</th>
                                <th>Skill Test</th>
                                <th>Other Skils</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isLoading">
                                <td colspan="7" class="text-center"><img src="assets/img/loader-bar.svg" alt=""></td>
                            </tr>
                            <tr class="pointer" *ngFor="let applicant of applicants |  textSearchFilterMultiple : ['fullNameEN','currCountry','skills.otherSkills','skills.japanese'] : searchText"
                                (click)="gotoApplicnat(applicant.id)">
                                <td>{{applicant.fullNameEN}}</td>
                                <td>{{applicant.gender}}</td>
                                <td>{{applicant.currCountry}}</td>
                                <td>{{applicant.nationality}}</td>
                                <td>{{applicant.skills.japanese}}</td>
                                <td>
                                    <span *ngFor="let test of applicant.skills.passedSkillTest; let i = index"> <span *ngIf="i > 0">, </span> {{test.name}}</span>
                                <td>{{applicant.skills.otherSkills}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>